@page "/users"
@using DTOs
@using static Utils.Functional
@using Microsoft.JSInterop
@inject BlazorApp.Services.IUserService UserService
@inject IJSRuntime JS

<h1>Add User:</h1>
<!-- Add User Form (input for name, password, button for create) -->
<div class="mb-3">
    <label for="userName" class="form-label">Name:</label>
    <input type="text" class="form-control" id="userName" @bind="NewUserName" />
    <label for="userPassword" class="form-label">Password:</label>
    <input type="password" class="form-control" id="userPassword" @bind="NewUserPassword" />
</div>
<button class="btn btn-primary" @onclick="CreateUser">Create User</button>
<h1>Users:</h1>

<!-- Clickable table with all the users displaying their Id, Name -->
@if (UserInfo.HasValue())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in UserInfo.GetValue())
            {
                <tr>
                    <td>@user.Id</td>
                    <td><a href="@($"/users/{user.Id}")">@user.Name</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else if (!UserInfo.IsLoading)
{
    <h2>No users found</h2>
    @if (UserInfo.Error != null)
    {
        <p class="text-danger">Error: @UserInfo.Error.Message</p>
    }
}
else
{
    <p>Loading users...</p>
}

@code {
    public AsyncResource<List<UserInfoDTO>> UserInfo { get; set; } = new AsyncResource<List<UserInfoDTO>>();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            UserInfo.SetValue(await UserService.GetUsersAsync());
        }
        catch (Exception ex)
        {
            UserInfo.SetError(ex);
        }
    }

    public string NewUserName { get; set; } = string.Empty;
    public string NewUserPassword { get; set; } = string.Empty;
    private async Task CreateUser()
    {
        try
        {
            var newUser = await UserService.AddUserAsync(new CreateUserDTO(NewUserName, NewUserPassword));
            // Refresh the user list
            UserInfo.SetValue(await UserService.GetUsersAsync());
            // Clear input fields
            NewUserName = string.Empty;
            NewUserPassword = string.Empty;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error creating user: {ex.Message}");
            // And a browser popup with the error
            await JS.InvokeVoidAsync("alert", $"Error creating user: {ex.Message}");
        }
    }
}
